
<ion-header>
  <ion-toolbar class="new-background-color">
    <div class="main_hed" fxLayout="row" >



<div class="head_name">
  <label>Category</label>

</div>
     
      <!-- <div class="div_of_logo"> <img src="../../../assets/ap_logo1.jpg" alt="" ></div> -->
  
    </div>
    <!-- <img src="../../../assets/ap_logo (1).png" alt="" >-->

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="container_holder" fxLayout="column" fxLayoutAlign=" center">


    <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngFor="let item of categoryName" class="category_card">

      <label class="categoryNameSelect" (click)=nextPage(item.id)>{{item.name}}</label>

     




    </mat-card>

    <ion-fab>
      <button ion-fab class="add_catagaris" (click)="openDialog()">+</button>
    </ion-fab>





  </div>
</ion-content>